<div class="container">
    <div class="d-flex flex-row mt-2  bg-light  border-bottom ">
        <div class="col-sm-10 d-flex d-row">
            <img class="camera" src="assets/images/camera.png">
            <img class=" ml-2" src="assets/images/insta.png">
        </div>
        <!-- <div class="col-sm-5">
            <img class="insta" src="assets/images/insta.png">
        </div> -->
        <div class="col-sm-2 text-right">
            <img class="send" src="assets/images/send.png">
        </div>
    </div>




</div>

