<div class="container mt-2">
    <div class="d-flex flex-row   mb-1 bg-light  border-top ">
        <div class="col-sm-3 mt-1">
            <img class="home" src="assets/images/home.png">
            
        </div>
        <div class="col-sm-2  mt-1 ">
            <img class="search" src="assets/images/search.png">
            
        </div>
        <div class="col-sm-2  mt-1">
            <!-- <img class="search" src="assets/images/search.png"> -->
            <h4 style="font-size: 25px;">+</h4>
            
        </div>
        <div class="col-sm-2  mt-1">
            <img class="like" src="assets/images/like.png">
            
        </div>
       
        <div class="col-sm-3  mt-1 text-right">
            <img class="pro" src="assets/images/pro.jpg"  class="border rounded-circle propic">
        </div>
    </div>




</div>

