.home
{
    width:30px;
    height: 30px;

}
.search
{
    width:30px;
    height: 30px;
}
.like
{
    width:30px;
    height: 30px;
}
.add
{
    width:30px;
    height: 30px;
}
.propic
{
    width:30px;
    height: 30px;
}